# UI
streamlit

# LLM Libraries
openai
autogen-agentchat
autogen-ext[openai]

# Data Processing
ckip-transformers
jieba
gensim
numpy==1.23.0
nltk
pymupdf
pandas
scikit-learn

# Visualization
matplotlib
plotly
# download df from online
gdown